body {

  direction: ltr;
  unicode-bidi: bidi-override;
  text-align: left;
  text-justify: none;
  color: black;
  column-count: 1;
}


.mylabel {
  color: black ;
  font-weight:bold;
}

.myoutput {
  color: black;
  font-weight:normal;

}

.entry {
  margin: 0;
}


