body {
  text-justify: none;
  color: black;
  column-count: 1;
}


.mylabel {
  text-align: left;
  color: black ;
  font-weight:bold;
}

.myoutput {
  text-align: left;
  font-weight:normal;
  color: black;

}

.entry {
  margin: 0;
}

